In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
import os

In [2]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

In [3]:
dfs = pd.read_html(url)
dfs

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [4]:
# with open(file_path, 'r') as f:
#     dfs = pd.read_html(f.read())
# dfs

In [5]:
# with open(file_path, 'r') as f:
#     sio = StringIO(f.read())
# dfs = pd.read_html(sio)
# dfs


# посмотреть страницы 277 - 278

In [6]:
match = 'Metcalf Bank'
df_list = pd.read_html(url, match=match)
df_list

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [7]:
dfs = pd.read_html(url, header=0)
dfs

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [8]:
dfs = pd.read_html(url, index_col=0)
dfs

[                                            City  ST   CERT  \
 Bank Name
 The First State Bank               Barboursville  WV  14361
 Ericson State Bank                       Ericson  NE  18265
 City National Bank of New Jersey          Newark  NJ  21111
 Resolute Bank                             Maumee  OH  58317
 Louisa Community Bank                     Louisa  KY  58112
 ...                                          ...  ..    ...
 Superior Bank, FSB                      Hinsdale  IL  32646
 Malta National Bank                        Malta  OH   6629
 First Alliance Bank & Trust Co.       Manchester  NH  34264
 National State Bank of Metropolis     Metropolis  IL   3815
 Bank of Honolulu                        Honolulu  HI  21029

                                                  Acquiring Institution  \
 Bank Name
 The First State Bank                                    MVB Bank, Inc.
 Ericson State Bank                          Farmers and Merchants Bank
 City National Bank of New Jersey                       Industrial Bank
 Resolute Bank                                       Buckeye State Bank
 Louisa Community Bank                Kentucky Farmers Bank Corporation
 ...                                                                ...
 Superior Bank, FSB                               Superior Federal, FSB
 Malta National Bank                                  North Valley Bank
 First Alliance Bank & Trust Co.    Southern New Hampshire Bank & Trust
 National State Bank of Metropolis              Banterra Bank of Marion
 Bank of Honolulu                                    Bank of the Orient

                                         Closing Date
 Bank Name
 The First State Bank                   April 3, 2020
 Ericson State Bank                 February 14, 2020
 City National Bank of New Jersey    November 1, 2019
 Resolute Bank                       October 25, 2019
 Louisa Community Bank               October 25, 2019
 ...                                              ...
 Superior Bank, FSB                     July 27, 2001
 Malta National Bank                      May 3, 2001
 First Alliance Bank & Trust Co.     February 2, 2001
 National State Bank of Metropolis  December 14, 2000
 Bank of Honolulu                    October 13, 2000

 [561 rows x 5 columns]]

In [9]:
dfs = pd.read_html(url, skiprows=0)
dfs

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [10]:
dfs = pd.read_html(url, skiprows=range(2))
dfs

[                      Ericson State Bank     Ericson  NE  18265  \
 0       City National Bank of New Jersey      Newark  NJ  21111
 1                          Resolute Bank      Maumee  OH  58317
 2                  Louisa Community Bank      Louisa  KY  58112
 3                   The Enloe State Bank      Cooper  TX  10716
 4    Washington Federal Bank for Savings     Chicago  IL  30570
 ..                                   ...         ...  ..    ...
 554                   Superior Bank, FSB    Hinsdale  IL  32646
 555                  Malta National Bank       Malta  OH   6629
 556      First Alliance Bank & Trust Co.  Manchester  NH  34264
 557    National State Bank of Metropolis  Metropolis  IL   3815
 558                     Bank of Honolulu    Honolulu  HI  21029

               Farmers and Merchants Bank  February 14, 2020
 0                        Industrial Bank   November 1, 2019
 1                     Buckeye State Bank   October 25, 2019
 2      Kentucky Farmers Bank Corporation   October 25, 2019
 3                     Legend Bank, N. A.       May 31, 2019
 4                     Royal Savings Bank  December 15, 2017
 ..                                   ...                ...
 554                Superior Federal, FSB      July 27, 2001
 555                    North Valley Bank        May 3, 2001
 556  Southern New Hampshire Bank & Trust   February 2, 2001
 557              Banterra Bank of Marion  December 14, 2000
 558                   Bank of the Orient   October 13, 2000

 [559 rows x 6 columns]]

In [11]:
# dfs1 = pd.read_html(url, attrs={'id': 'table'})
# dfs2 = pd.read_html(url, attrs={'class': 'sortable'})
# print(np.array_equal(dfs1[0], dfs2[0])) # Should be True

In [12]:
dfs = pd.read_html(url, na_values=['No Acquirer'])
dfs

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [13]:
dfs = pd.read_html(url, keep_default_na=False)
dfs

[                             Bank Name           City  ST   CERT  \
 0                 The First State Bank  Barboursville  WV  14361
 1                   Ericson State Bank        Ericson  NE  18265
 2     City National Bank of New Jersey         Newark  NJ  21111
 3                        Resolute Bank         Maumee  OH  58317
 4                Louisa Community Bank         Louisa  KY  58112
 ..                                 ...            ...  ..    ...
 556                 Superior Bank, FSB       Hinsdale  IL  32646
 557                Malta National Bank          Malta  OH   6629
 558    First Alliance Bank & Trust Co.     Manchester  NH  34264
 559  National State Bank of Metropolis     Metropolis  IL   3815
 560                   Bank of Honolulu       Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0                         MVB Bank, Inc.      April 3, 2020
 1             Farmers and Merchants Bank  February 14, 2020
 2                        Industrial Bank   November 1, 2019
 3                     Buckeye State Bank   October 25, 2019
 4      Kentucky Farmers Bank Corporation   October 25, 2019
 ..                                   ...                ...
 556                Superior Federal, FSB      July 27, 2001
 557                    North Valley Bank        May 3, 2001
 558  Southern New Hampshire Bank & Trust   February 2, 2001
 559              Banterra Bank of Marion  December 14, 2000
 560                   Bank of the Orient   October 13, 2000

 [561 rows x 6 columns]]

In [14]:
# url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
# dfs = pd.read_html(url_mcc, match='Telekom Albania', header=0,
#                    converters={'MNC': str})

In [15]:
dfs = pd.read_html(url, match='Metcalf Bank', index_col=0)
dfs

[                                            City  ST   CERT  \
 Bank Name
 The First State Bank               Barboursville  WV  14361
 Ericson State Bank                       Ericson  NE  18265
 City National Bank of New Jersey          Newark  NJ  21111
 Resolute Bank                             Maumee  OH  58317
 Louisa Community Bank                     Louisa  KY  58112
 ...                                          ...  ..    ...
 Superior Bank, FSB                      Hinsdale  IL  32646
 Malta National Bank                        Malta  OH   6629
 First Alliance Bank & Trust Co.       Manchester  NH  34264
 National State Bank of Metropolis     Metropolis  IL   3815
 Bank of Honolulu                        Honolulu  HI  21029

                                                  Acquiring Institution  \
 Bank Name
 The First State Bank                                    MVB Bank, Inc.
 Ericson State Bank                          Farmers and Merchants Bank
 City National Bank of New Jersey                       Industrial Bank
 Resolute Bank                                       Buckeye State Bank
 Louisa Community Bank                Kentucky Farmers Bank Corporation
 ...                                                                ...
 Superior Bank, FSB                               Superior Federal, FSB
 Malta National Bank                                  North Valley Bank
 First Alliance Bank & Trust Co.    Southern New Hampshire Bank & Trust
 National State Bank of Metropolis              Banterra Bank of Marion
 Bank of Honolulu                                    Bank of the Orient

                                         Closing Date
 Bank Name
 The First State Bank                   April 3, 2020
 Ericson State Bank                 February 14, 2020
 City National Bank of New Jersey    November 1, 2019
 Resolute Bank                       October 25, 2019
 Louisa Community Bank               October 25, 2019
 ...                                              ...
 Superior Bank, FSB                     July 27, 2001
 Malta National Bank                      May 3, 2001
 First Alliance Bank & Trust Co.     February 2, 2001
 National State Bank of Metropolis  December 14, 2000
 Bank of Honolulu                    October 13, 2000

 [561 rows x 5 columns]]

In [16]:
df = pd.DataFrame(np.random.randn(2, 2))
s = df.to_html(float_format='{0:.40g}'.format)
dfin = pd.read_html(s, index_col=0)
dfin

[          0         1
 0 -1.727688 -0.310407
 1  0.309991  1.301625]

In [17]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor=['lxml'])
dfs

[                                            City  ST   CERT  \
 Bank Name
 The First State Bank               Barboursville  WV  14361
 Ericson State Bank                       Ericson  NE  18265
 City National Bank of New Jersey          Newark  NJ  21111
 Resolute Bank                             Maumee  OH  58317
 Louisa Community Bank                     Louisa  KY  58112
 ...                                          ...  ..    ...
 Superior Bank, FSB                      Hinsdale  IL  32646
 Malta National Bank                        Malta  OH   6629
 First Alliance Bank & Trust Co.       Manchester  NH  34264
 National State Bank of Metropolis     Metropolis  IL   3815
 Bank of Honolulu                        Honolulu  HI  21029

                                                  Acquiring Institution  \
 Bank Name
 The First State Bank                                    MVB Bank, Inc.
 Ericson State Bank                          Farmers and Merchants Bank
 City National Bank of New Jersey                       Industrial Bank
 Resolute Bank                                       Buckeye State Bank
 Louisa Community Bank                Kentucky Farmers Bank Corporation
 ...                                                                ...
 Superior Bank, FSB                               Superior Federal, FSB
 Malta National Bank                                  North Valley Bank
 First Alliance Bank & Trust Co.    Southern New Hampshire Bank & Trust
 National State Bank of Metropolis              Banterra Bank of Marion
 Bank of Honolulu                                    Bank of the Orient

                                         Closing Date
 Bank Name
 The First State Bank                   April 3, 2020
 Ericson State Bank                 February 14, 2020
 City National Bank of New Jersey    November 1, 2019
 Resolute Bank                       October 25, 2019
 Louisa Community Bank               October 25, 2019
 ...                                              ...
 Superior Bank, FSB                     July 27, 2001
 Malta National Bank                      May 3, 2001
 First Alliance Bank & Trust Co.     February 2, 2001
 National State Bank of Metropolis  December 14, 2000
 Bank of Honolulu                    October 13, 2000

 [561 rows x 5 columns]]

In [18]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor='lxml')
dfs

[                                            City  ST   CERT  \
 Bank Name
 The First State Bank               Barboursville  WV  14361
 Ericson State Bank                       Ericson  NE  18265
 City National Bank of New Jersey          Newark  NJ  21111
 Resolute Bank                             Maumee  OH  58317
 Louisa Community Bank                     Louisa  KY  58112
 ...                                          ...  ..    ...
 Superior Bank, FSB                      Hinsdale  IL  32646
 Malta National Bank                        Malta  OH   6629
 First Alliance Bank & Trust Co.       Manchester  NH  34264
 National State Bank of Metropolis     Metropolis  IL   3815
 Bank of Honolulu                        Honolulu  HI  21029

                                                  Acquiring Institution  \
 Bank Name
 The First State Bank                                    MVB Bank, Inc.
 Ericson State Bank                          Farmers and Merchants Bank
 City National Bank of New Jersey                       Industrial Bank
 Resolute Bank                                       Buckeye State Bank
 Louisa Community Bank                Kentucky Farmers Bank Corporation
 ...                                                                ...
 Superior Bank, FSB                               Superior Federal, FSB
 Malta National Bank                                  North Valley Bank
 First Alliance Bank & Trust Co.    Southern New Hampshire Bank & Trust
 National State Bank of Metropolis              Banterra Bank of Marion
 Bank of Honolulu                                    Bank of the Orient

                                         Closing Date
 Bank Name
 The First State Bank                   April 3, 2020
 Ericson State Bank                 February 14, 2020
 City National Bank of New Jersey    November 1, 2019
 Resolute Bank                       October 25, 2019
 Louisa Community Bank               October 25, 2019
 ...                                              ...
 Superior Bank, FSB                     July 27, 2001
 Malta National Bank                      May 3, 2001
 First Alliance Bank & Trust Co.     February 2, 2001
 National State Bank of Metropolis  December 14, 2000
 Bank of Honolulu                    October 13, 2000

 [561 rows x 5 columns]]

In [19]:
dfs = pd.read_html(url, 'Metcalf Bank', index_col=0, flavor=['lxml', 'bs4'])
dfs

[                                            City  ST   CERT  \
 Bank Name
 The First State Bank               Barboursville  WV  14361
 Ericson State Bank                       Ericson  NE  18265
 City National Bank of New Jersey          Newark  NJ  21111
 Resolute Bank                             Maumee  OH  58317
 Louisa Community Bank                     Louisa  KY  58112
 ...                                          ...  ..    ...
 Superior Bank, FSB                      Hinsdale  IL  32646
 Malta National Bank                        Malta  OH   6629
 First Alliance Bank & Trust Co.       Manchester  NH  34264
 National State Bank of Metropolis     Metropolis  IL   3815
 Bank of Honolulu                        Honolulu  HI  21029

                                                  Acquiring Institution  \
 Bank Name
 The First State Bank                                    MVB Bank, Inc.
 Ericson State Bank                          Farmers and Merchants Bank
 City National Bank of New Jersey                       Industrial Bank
 Resolute Bank                                       Buckeye State Bank
 Louisa Community Bank                Kentucky Farmers Bank Corporation
 ...                                                                ...
 Superior Bank, FSB                               Superior Federal, FSB
 Malta National Bank                                  North Valley Bank
 First Alliance Bank & Trust Co.    Southern New Hampshire Bank & Trust
 National State Bank of Metropolis              Banterra Bank of Marion
 Bank of Honolulu                                    Bank of the Orient

                                         Closing Date
 Bank Name
 The First State Bank                   April 3, 2020
 Ericson State Bank                 February 14, 2020
 City National Bank of New Jersey    November 1, 2019
 Resolute Bank                       October 25, 2019
 Louisa Community Bank               October 25, 2019
 ...                                              ...
 Superior Bank, FSB                     July 27, 2001
 Malta National Bank                      May 3, 2001
 First Alliance Bank & Trust Co.     February 2, 2001
 National State Bank of Metropolis  December 14, 2000
 Bank of Honolulu                    October 13, 2000

 [561 rows x 5 columns]]

In [20]:
df = pd.DataFrame(np.random.randn(2, 2))

In [21]:
df

          0         1
0  0.205553  0.110278
1  0.858316 -1.410387

In [22]:
print(df.to_html()) # raw html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.205553</td>
      <td>0.110278</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.858316</td>
      <td>-1.410387</td>
    </tr>
  </tbody>
</table>

In [23]:
print(df.to_html(columns=[0]))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.205553</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.858316</td>
    </tr>
  </tbody>
</table>

In [24]:
print(df.to_html(float_format='{0:.10f}'.format))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.2055533727</td>
      <td>0.1102782502</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.8583163905</td>
      <td>-1.4103874932</td>
    </tr>
  </tbody>
</table>

In [25]:
print(df.to_html(bold_rows=False))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>0.205553</td>
      <td>0.110278</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0.858316</td>
      <td>-1.410387</td>
    </tr>
  </tbody>
</table>

In [26]:
print(df.to_html(classes=['awesome_table_class', 'even_more_awesome_class']))

<table border="1" class="dataframe awesome_table_class even_more_awesome_class">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.205553</td>
      <td>0.110278</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.858316</td>
      <td>-1.410387</td>
    </tr>
  </tbody>
</table>

In [27]:
url_df = pd.DataFrame({
    'name': ['Python', 'Pandas'],
    'url': ['https://www.python.org/', 'https://pandas.pydata.org']})

In [28]:
print(url_df.to_html(render_links=True))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Python</td>
      <td><a href="https://www.python.org/" target="_blank">https://www.python.org/</a></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Pandas</td>
      <td><a href="https://pandas.pydata.org" target="_blank">https://pandas.pydata.org</a></td>
    </tr>
  </tbody>
</table>

In [29]:
df = pd.DataFrame({'a': list('&<>'), 'b': np.random.randn(3)})

In [30]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>&amp;</td>
      <td>0.527012</td>
    </tr>
    <tr>
      <th>1</th>
      <td>&lt;</td>
      <td>-1.346549</td>
    </tr>
    <tr>
      <th>2</th>
      <td>&gt;</td>
      <td>-0.102347</td>
    </tr>
  </tbody>
</table>

In [31]:
print(df.to_html(escape=False))

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>&</td>
      <td>0.527012</td>
    </tr>
    <tr>
      <th>1</th>
      <td><</td>
      <td>-1.346549</td>
    </tr>
    <tr>
      <th>2</th>
      <td>></td>
      <td>-0.102347</td>
    </tr>
  </tbody>
</table>